# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.log
*.csv
*.txt
*.yaml
*.yml
*.xlsx
credentials.py
*credentials*
nautobot_credentials.py
primeapidata.py
device_credentials.py
msteams_credentials.py
venv/
naut2noise/
withcheckpoint/
oldnautocheck/
old_data/
.git-credentials
.vscode/
hosts_data*.txt
dhcp_reservations.json
global_pools.json